.img-container {
  display:flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  padding: 10px;
  text-align:center;
  border: 1px solid red;
  margin-top: 10px;
}
 .div{
   display: inline-flex;
   width: 100%;
 }
 .row{
   width: 50%;
 }
 .container{
   margin: 20px;
   width: 50%;
 }
 .btn{
   width: 100%;
 }
