  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #ffffff;
    margin: 20px;
    margin-left: 50px;
    justify-content:center;
    display: inline-flex;
    width:300px;
  }
  h1, h2{
    text-align: center;
  }
  p{
    text-align: justify;
  }
 
  
  