<html>

<body>
  <!-- display recipe by id to users when click image -->
  <div class="card">
    <div *ngFor="let rec of recipeById">
    <div class="card-body">
      <h5 style="text-align:center">{{rec.name_recipe}}</h5>
      <p class="card-text"></p>
      <h6>Ingredients</h6>
      <small style="text-align:justify">{{rec.ingredients}}</small>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <h6>Step-by-step instruction</h6>
        <p style="text-align:justify">{{rec.description}}</p>
      </small>
    </div>
    <div>
      <small style="text-align:justify">
        {{rec.macros}}
      </small>
    </div>
    </div>
    <hr>
    <!-- Add comment to recipe -->
    <label for="">GIVE YOUR OPINION!</label>
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addComment()">
      <textarea id="comment" name="comment" rows="4" cols="50 " [(ngModel)]="model.comments">
       </textarea>
      <br>
      <p>Fill in your details below to login</p>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" 
          [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required
          email />
        <!-- input validation group -->
        <div *ngIf="f.submitted && email.invalid" class="invalid-input">
          <!-- individual validation errors -->
          <div *ngIf="email.errors?.['required']">Field is required</div>
        </div>
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" 
          [(ngModel)]="model.name_user" #name_user="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name_user.invalid }" required
          name_user />
        <!-- input validation group -->
        <div *ngIf="f.submitted && name_user.invalid" class="invalid-input">
          <!-- individual validation errors -->
          <div *ngIf="name_user.errors?.['required']">Field is required</div>
        </div>
        </div>
        <br>
        <button class="btn btn-success" type="submit"> Submit</button>
        <br>
        <!-- Comments -->
        <div *ngFor="let comm of commentsByRecipe">
            {{comm.name_user}}
            {{comm.comments}}
        </div>
    </form>
  </div>

</body>

</html>