
.carousel{
  display: flex;
  align-items: flex-start;
  }
.carousel  div {
  flex: 1;
}
.carousel-item{
  align-self: center;
}
#img-id{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}